.game-card {
   margin-top: 50px;
}

.card-header {
    background-color: #008000;
    color: white;
    }

.card-body {
    background-color: pink;
}

#jobOutput {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}